<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
</head>
<body>
    <h1>Chào mừng đến với trang chủ</h1>
    <a href="/login">
        <button>Đăng nhập</button>
    </a>
    <h2>Danh sách sản phẩm</h2>
    <ul>
        <li th:each="product : ${products}">
            <span th:text="${product.productName}">Tên sản phẩm</span> - <span th:text="${product.price}">Giá sản phẩm</span>
        </li>
    </ul>
</body>
</html>